body {
	background: #F5F5F5;
	margin: 0;
}

#network {
}

#info {
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	padding: 10px;
	width: 200px;
	height: 50px;
	position: fixed;
	bottom: 40px;
	right: 40px;
}

.node circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	fill: none;
	stroke: #999;
	stroke-opacity: .6;
}

marker{
    fill: #333;
}
